:root {
    font-family: "Hind Vadodara";
    font-size: 500;
}

li {
    list-style: none;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.modal {
    z-index: 99999 !important;
}

.submitBtn {
    border: none;
    background-color: green;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 4px;
}

.cancelBtn {
    border: none;
    background-color: red;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 4px;
}

/* Existing CSS code */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    border-radius: 10px;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000000;
    border-radius: 10px;
    color: #FFFFFF !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content.fade-in {
    opacity: 1;
}

/* Hind Vadodara font family : */

@font-face {
    font-family: "Hind Vadodara";
    font-size: 300;
    src: url("../Fonts/HindVadodara/static/HindVadodara-Light.ttf");
}

@font-face {
    font-family: "Hind Vadodara";
    font-size: 400;
    src: url("../Fonts/HindVadodara/static/HindVadodara-Regular.ttf");
}

@font-face {
    font-family: "Hind Vadodara";
    font-size: 500;
    src: url("../Fonts/HindVadodara/static/HindVadodara-Medium.ttf");
}

@font-face {
    font-family: "Hind Vadodara";
    font-size: 600;
    src: url("../Fonts/HindVadodara/static/HindVadodara-SemiBold.ttf");
}

@font-face {
    font-family: "Hind Vadodara";
    font-size: 700;
    src: url("../Fonts/HindVadodara/static/HindVadodara-Bold.ttf");
}

/* Poppins font family : */
@font-face {
    font-family: "Poppins";
    font-size: 100;
    src: url("../Fonts/Poppins/static/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 200;
    src: url("../Fonts/Poppins/static/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 300;
    src: url("../Fonts/Poppins/static/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 400;
    src: url("../Fonts/Poppins/static/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 500;
    src: url("../Fonts/Poppins/static/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 600;
    src: url("../Fonts/Poppins/static/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 700;
    src: url("../Fonts/Poppins/static/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 700;
    src: url("../Fonts/Poppins/static/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 800;
    src: url("../Fonts/Poppins/static/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-size: 900;
    src: url("../Fonts/Poppins/static/Poppins-Black.ttf");
}