.mainFooter {
    background-color: #778899;
    width: 100%;
    height: 450px;
}

.subFooterLine {
    margin-top: 10px;
    border: 4px solid #FFFFFF;
    width: 100%;
    height: 400px;
    color: #FFFFFF !important;
}

.subFooterLine li {
    text-transform: uppercase;
    font-family: "Hind Vadodara";
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 18px;
    list-style: circle !important;
    color: white;
}

.contactInfo p {
    text-align: left;
}

input:focus-visible {
    outline-offset: 0 !important;
}

.socialIcon :hover {
    color: black;
    transition: .4s;
}

.contactInfo a:hover {
    color: black;
}

.footerContaint a:hover{
    color: black !important;
    transition: .4s;
}