.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 9.5px 14px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    top: -4px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 135% !important;
}