.phoneNumber {
    padding: 0 !important;
    padding-left: 70px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 18px !important;
    border-radius: 10px;
}

.checkbox-wrapper-12 .cbx span {
    top: 4px !important;
    left: 35% !important;
}

.mainAddressBar {
    border: 1px solid #000000;
    border-radius: 10px !important;
    padding: 10px;
}

.emailSection {
    background-color: gray !important;
    padding: 0px 20px !important;
    line-height: 0px;
    border-radius: 50px;
    color: #FFFFFF !important;
    letter-spacing: 1px;
}

.AddressEmail {
    font-size: 10px !important;
}

.shipping span {
    font-size: 16px;
}

#mainModal .modal-content {
    position: relative;
    /* height: 80vh !important; */
    background-color: #f9f9f9
}

.tabButton button {
    border: none;
    padding: 10px 70px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #778899;
}

.activeTab {
    background-color: #778899 !important;
    color: #FFFFFF !important;
}

.mainCallBar {
    position: relative !important;
}

.code {
    left: 33% !important;
}

.nextBtn button {
    border: none;
    padding: 10px 70px;
    background-color: #778899;
    color: #FFFFFF;
    border-radius: 10px;
}

.nextBtn {
    position: sticky;
    top: 0;
}

.code {
    position: absolute;
    top: 12px;
    left: 0;
}

input.phoneNumber::-webkit-inner-spin-button,
input.phoneNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-button {
    position: relative;
    background: #778899;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    justify-content: space-around;
    min-width: 100%;
    overflow: hidden;
    outline: none;
    padding: 1.5rem;
    text-transform: uppercase;
    transition: 0.4s ease;
    margin: auto;
    z-index: 99999;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    font-size: 18px !important;
}

.cart-button:hover {
    background-color: #778899;
}

.cart-button:active {
    transform: scale(0.9);
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.cartButton button {
    padding: 0px 6px;
}

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.cart-button span.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}


.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    padding: 18px 78px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-150%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.checkbox-wrapper-12 {
    position: relative;
}

.checkbox-wrapper-12>svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
}

.checkbox-wrapper-12 * {
    box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
}

.checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(50vh - 12px);
    left: calc(50vw - 12px);
}

.checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 28%;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 28%;
    -webkit-filter: url("#goo-12");
    filter: url("#goo-12");
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 28.5%;
    z-index: 1;
    pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked+label {
    animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked+label+svg path {
    stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
    40% {
        background: #2CBC63;
        box-shadow: 0 -18px 0 -8px #2CBC63, 16px -8px 0 -8px #2CBC63, 16px 8px 0 -8px #2CBC63, 0 18px 0 -8px #2CBC63, -16px 8px 0 -8px #2CBC63, -16px -8px 0 -8px #2CBC63;
    }

    100% {
        background: #2CBC63;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-webkit-keyframes splash-12 {
    40% {
        background: #2CBC63;
        box-shadow: 0 -18px 0 -8px #2CBC63, 16px -8px 0 -8px #2CBC63, 16px 8px 0 -8px #2CBC63, 0 18px 0 -8px #2CBC63, -16px 8px 0 -8px #2CBC63, -16px -8px 0 -8px #2CBC63;
    }

    100% {
        background: #2CBC63;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@-o-keyframes splash-12 {
    40% {
        background: #2CBC63;
        box-shadow: 0 -18px 0 -8px #2CBC63, 16px -8px 0 -8px #2CBC63, 16px 8px 0 -8px #2CBC63, 0 18px 0 -8px #2CBC63, -16px 8px 0 -8px #2CBC63, -16px -8px 0 -8px #2CBC63;
    }

    100% {
        background: #2CBC63;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

@keyframes splash-12 {
    40% {
        background: #2CBC63;
        box-shadow: 0 -18px 0 -8px #2CBC63, 16px -8px 0 -8px #2CBC63, 16px 8px 0 -8px #2CBC63, 0 18px 0 -8px #2CBC63, -16px 8px 0 -8px #2CBC63, -16px -8px 0 -8px #2CBC63;
    }

    100% {
        background: #2CBC63;
        box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
}

.checkContaint {
    position: absolute;
    top: 0;
    left: 34%;
}

.nextBtn {
    position: sticky !important;
    top: 80% !important;
    bottom: 0 !important;
}

.btnBg {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 0;
}

.modalLeft {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 60vh;
}

.modalLeft {
    overflow-y: scroll;
    overflow-x: hidden;
}

.topModalBar {
    position: sticky;
    top: 0;
    background-color: #FFFFFF !important;
    z-index: 9999;
}

.topModalBar1 {
    position: sticky;
    top: 10%;
    background-color: #FFFFFF !important;
    z-index: 9999;
}

.accordion-button:focus {
    outline: none !important;
    border-color: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    color: #000000 !important;
}

.ordeIamge {
    font-size: 14px;
}