#TrendImageMain .saleHeading {
    text-transform: uppercase;
    font-family: "Hind Vadodara";
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-size: 34px;
}

#TrendImageMain .saleSubHeading {
    font-family: "Hind Vadodara";
    letter-spacing: 2px;
    font-size: 20px;
}

#TrendImageMain img {
    border: 4px solid transparent;
    transition: border-color 0.5s;
    object-fit: cover;    
}

#TrendImageMain img:hover {
    animation: pulsate-border 8s infinite;
    border-color: #000000;
    cursor: pointer;
    transition: border-color 2s;
}

#TrendImageMain img:hover h2 {
    display: block;
    color: red;
    z-index: 99999;
}

#TrendImageMain h2 {
    display: none;
}

@keyframes pulsate-border {
    0% {
        border-color: #000000;
    }

    50% {
        border-color: #000000;
        opacity: 0.5;
    }

    100% {
        border-color: #000000;
    }
}